<ion-view title="Home">
  <ion-content class="padding">
    <button ng-click="reset()" class="button button-calm button-block" ng-if="debug">
      reset
    </button>
    <div class="list list-inset" ng-if="newUser">
      <div class="logo">
        <img src="/img/logo.png">
      </div>
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model="teamSearch.$" placeholder="Search for team to add...">
      </label>
      <div class="item item-button-right" ng-repeat="team in teams | filter:teamSearch:strict">
        {{team}}
        <button ng-click="selectTeam(team)" class="button button-positive"><i class="icon ion-ios7-plus-empty"></i></button>
      </div>
    </div>
    <div ng-if="!newUser">
      <h1> Your teams: </h1>
      <div class="list list-inset">

          <div ng-repeat="team in userTeams" class="item">
            {{team}}
          </div>

      </div>
    </div>
  </ion-content>
</ion-view>
